torch==1.8.1+cu101
torchaudio==0.8.1
torchvision==0.9.1+cu101
-f https://download.pytorch.org/whl/torch_stable.html
atari-py==0.2.9
gym==0.19.0
h5py==3.1.0
ipython==7.16.3
ipython-genutils==0.2.0
joblib==1.1.0
matplotlib==3.3.4
numba==0.53.1
numpy==1.19.5
opencv-python==4.5.4.58
packaging==21.0
pandas==1.1.5
scikit-image==0.17.2
scikit-learn==0.24.2
scikit-video==1.1.11
scipy==1.5.4
sklearn==0.0
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-probability==0.7.0
tqdm==4.61.2
typing-extensions==3.7.4.3
urllib3==1.26.7
